# Cap 04 - Dominando o Python

### Imprimindo Dados

In [1]:
# Print

print("Hello World")

Hello World

In [2]:
# Sem o print - Diretamente

"Hello World"

'Hello World'

### Operações Mateméticas

In [3]:
# Soma

2 + 2

4

In [4]:
# Subtração

2 - 2

0

In [5]:
# Multiplicação

2 * 2

4

In [6]:
# Divisão

2 / 2

1.0

### Operações Matemáticas com Números Float

In [7]:
# Soma

3.2 + 6.6

9.8

In [8]:
# Divisão

8.8 / 2

4.4

In [9]:
# Multiplicação

10.2 * 2

20.4

In [10]:
# Subtração

5.5 - 2.7

2.8

### Verificando Tipos de Dados - Função type()

In [11]:
type(5)

int

In [12]:
type(9.5)

float

In [13]:
type("Rivaldo Jr")

str

### Conversão de Dados

In [14]:
# Convertendo dados para o tipo inteiro

int(6.5)

6

In [15]:
# Convertendo dados para o tipo float

float(7)

7.0

In [16]:
# Convertendo dados para o tipo string

str(5)

'5'

### Arredondando Valores

In [17]:
# Função round()

round(2.898)

3

### Variáveis

In [18]:
# Criando variáveis

var1 = 1
var2 = 2
var3 = 3

In [19]:
# Imprimindo variável

var1

1

In [20]:
# Verificando tipo da variável

type(var1)

int

In [21]:
# Realizando operação matemática com variáveis

var1 + var2

3

In [22]:
# Reatribuindo um novo valor a variáveis

var1 = "Elefante"
var2 = 6.78

In [23]:
# Verificando tipos das variáveis

print(type(var1))
print(type(var2))

<class 'str'>
<class 'float'>

In [24]:
# Declarando valores a variáveis

x, y = 1, 2

In [25]:
# Imprimindo valores

print(x)
print(y)

1
2

### Strings

In [26]:
# Criando variável tipo string

frase = "Era uma vez"

In [27]:
# Imprimindo frase

frase

'Era uma vez'

In [28]:
# Indexando Strings - O ÍNDICE COMEÇA COM O NÚMERO 0

print(frase[0]) # Retorna a primeira letra da frase
print(frase[1]) # Retorna a segunda letra da frase
print(frase[2]) # Retorna a terceira letra da frase

E
r
a

In [29]:
# Slicing - Percorrendo Strings

frase[0:7] # Retorna do 1° ao 6° elemento da string

'Era uma'

In [30]:
frase[0:] # Retorna todos os elementos da string

'Era uma vez'

In [31]:
frase[:7] # Retorna do 1º ao 6º elemento da string

'Era uma'

In [32]:
# Concatenando String

frase1 = "Rivaldo Correia" # Criando a primeira variável string
frase2 = " Santos Junior"  # Criando a segunda variável string
frase3 = frase1 + frase2   # Concatenando as 2 variáveis e atribuindo seu valor a outra variável

print(frase3) # Imprimindo resultado

Rivaldo Correia Santos Junior

In [33]:
# Realizando contagem de elementos em uma frase

frase.count("Era")

1

In [34]:
frase.count('a')

2

In [35]:
# Convertendo todas as letras da frase para minúscula

frase.lower()

'era uma vez'

In [36]:
# Convertendo todas as letras da frase para maiúscula

frase.upper()

'ERA UMA VEZ'

In [37]:
# Função capitalize() - converte o primeiro caractere da string em uma letra maiúscula

frase.capitalize()

'Era uma vez'

In [38]:
# Função islower() - Verifica se todos os caracteres do texto estão em minúscula

frase.islower()

False

In [39]:
# Quebrando string em uma lista de termos

frase.split()

['Era', 'uma', 'vez']